.heading_title {
    background-image: url("/ryxc/res/img/nav.png");
    width: 2560px;
    height: 1000px;
    border: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}